.container {
   width: 68rem;
   height: 10rem;
   /* position: absolute; */
   /* top: 12rem; */
   /* left: 50%; */
   /* transform: translate(-50%); */
   background-color: #fff;
   border: 1px solid #bbb;
   margin: 0 auto;
}

.container h2 {
   font-size: 5rem;
}

.container li .icon {
   font-size: 2.5rem;
}

.container ul {
   background-color: blueviolet;
   display: flex;
}

.container ul li {
   list-style-type: none;
   background-color: brown;
}

.container li .phonetic {
   font-size: 2rem;
}
