.container {
   width: var(--width-container-result);
   min-height: 30rem;
   margin: 0 auto;
   background-color: #fff;
   border-left: 1px solid var(--color-border-definition);
   border-right: 1px solid var(--color-border-definition);
   border-bottom: 1px solid var(--color-border-definition);
   padding: 0 1rem;
}

.block_partOfSpeech {
   padding: 0.8rem 0 1.2rem 0;
}

.container h3 {
   font-family: var(--font-titles-1);
   font-style: italic;
   font-weight: 400;
   font-size: 2rem;
   margin-bottom: 1rem;
}

.definition_text {
   font-family: var(--font-titles-1);
   font-weight: 300;
   font-size: 1.7rem;
   color: var(--color-text-definition);
}

.example_text {
   font-family: var(--font-titles-1);
   font-weight: 300;
   font-size: 1.5rem;
   font-style: italic;
   color: rgb(13, 13, 197);
   display: block;
}

.container li {
   padding: 0.15rem 2.2rem;
   position: relative;
   margin: 0 2.3rem;
   line-height: 1.9rem;
}

ol {
   list-style-type: none;
   counter-reset: list;
}

.container li::before {
   width: 2.2rem;
   display: inline-block;
   counter-increment: list;
   content: counters(list, ". ") ". ";
   font-size: 1.4rem;
   position: absolute;
   left: 0;
}
