.container {
   width: 68rem;
   min-height: 30rem;
   margin: 0 auto;

   background-color: #fff;
   border-left: 1px solid #bbb;
   border-right: 1px solid #bbb;
   border-bottom: 1px solid #bbb;
}

.container h3 {
   font-family: var(--font-titles-1);
   font-style: italic;
   font-weight: 400;
   font-size: 2rem;
   margin-bottom: 1rem;
}

.text {
   font-family: var(--font-titles-1);
   font-weight: 300;
   font-size: 1.7rem;
   color: var(--color-text-definition);
   margin-left: 3rem;
   box-decoration-break: clone;
}

.container li:nth-child(1) {
   padding: 3rem 2.3rem;
}

.container li {
   position: relative;
   padding: 0 2.3rem;
   line-height: 1.9rem;
}

ul {
   list-style-type: none;
}
