.container {
   width: 68rem;
   min-height: 10rem;
   margin: 0 auto;

   background-color: #fff;
   border-left: 1px solid #bbb;
   border-right: 1px solid #bbb;
   border-bottom: 1px solid #bbb;
   padding: 0 1rem;
}

.block_partOfSpeech {
   padding: 0.8rem 0 1.2rem 0;
   /* border-bottom: 1px solid #000; */
}

.container h3 {
   font-family: var(--font-titles-1);
   font-style: italic;
   font-weight: 400;
   font-size: 2rem;
   margin-bottom: 1rem;
}

.definition_text {
   /* font-family: var(--font-definitions-1); */
   font-family: var(--font-titles-1);
   font-weight: 300;
   font-size: 1.8rem;
   /* color: rgb(151, 8, 8); */
   color: rgb(120, 14, 14);
   /* box-decoration-break: clone; */
   /* margin-left: 2rem; */
}

.example_text {
   font-family: var(--font-titles-1);
   font-weight: 300;
   font-size: 1.5rem;
   font-style: italic;
   color: rgb(13, 13, 197);
   display: block;
   /* margin-left: 3rem; */
}

.container li {
   /* background-color: rgb(178, 240, 218); */
   /* border-bottom: 1px solid red; */
   padding: 0.15rem 2.2rem;
   position: relative;
   margin: 0 2.3rem;
   line-height: 1.9rem;
}

ol {
   list-style-type: none;
   counter-reset: list;
}

.container li::before {
   width: 2.2rem;
   display: inline-block;
   counter-increment: list;
   content: counters(list, ". ") ". ";
   /* color: red; */
   font-size: 1.4rem;
   /* background-color: blue; */
   position: absolute;
   left: 0;
   /* transform: translateX(-3rem); */
}
