.container {
   width: 68rem;
   height: 13rem;
   /* position: absolute; */
   /* top: 12rem; */
   /* left: 50%; */
   /* transform: translate(-50%); */
   /* background-color: #fff; */
   background-color: rgb(193, 250, 250);
   border: 1px solid #bbb;
   margin: 0 auto;
   padding: 0 1rem;
}

.container h2 {
   font-family: var(--font-titles-1);
   font-weight: 300;
   font-size: 7rem;
   /* background-color: aqua; */
   margin-bottom: 1rem;
}

.container ul {
   /* background-color: blueviolet; */
   display: flex;
}

.container ul li {
   list-style-type: none;
   /* background-color: brown; */
   margin-right: 2rem;
   display: flex;
   align-items: center;
}

.container li .abbreviation_code {
   font-family: var(--font-titles-1);
   font-size: 2.1rem;
}

.container li .button {
   width: 2.4rem;
   height: 2.4rem;
   font-size: 2.5rem;
   color: #222;
   background-color: transparent;
   border: none;
   cursor: pointer;
}

.container li .button:active .button_span {
   transform: scale(1.1);
}

.container li .phonetic {
   margin-left: 0.2rem;
   font-size: 1.9rem;
   font-family: var(--font-definitions-2);
}

.container .otherBtn {
   height: 2rem;
   width: 2rem;
   background-color: blue;
}
