.container {
   width: var(--width-container-result);
   height: 15rem;
   background-color: rgb(199, 245, 245);
   border: 1px solid var(--color-border-definition);
   margin: 0 auto;
   padding: 0 1rem;
}

.container h2 {
   font-family: var(--font-titles-1);
   font-weight: 300;
   font-size: 7rem;
   margin-top: 1.5rem;
   margin-bottom: 0.7rem;
}

.container_phonetics {
   display: flex;
   justify-content: space-between;
}

.container ul {
   display: flex;
}

.container ul li {
   list-style-type: none;
   margin-right: 2rem;
   display: flex;
   align-items: center;
   border: 1px solid rgb(161, 212, 212);
   padding: 0.3rem;
}

.container li .abbreviation_code {
   font-family: var(--font-titles-1);
   font-size: 2rem;
}

.container li .button {
   width: 2.4rem;
   height: 2.4rem;
   margin-left: 0.2rem;
   font-size: 2.5rem;
   color: #444;
   background-color: transparent;
   border: none;
   cursor: pointer;
}

.container li .button:active .button_span {
   transform: scale(1.1);
   color: #000;
}

.container li .phonetic {
   margin-left: 0.2rem;
   font-size: 1.9rem;
   font-family: var(--font-definitions-2);
   color: #444;
}
