.container {
   max-width: 75rem;
   height: fit-content;
   background-color: rgb(197, 134, 134);
   margin: 0 auto;
   position: relative;
}

.initial_header {
   height: 100vh;
   flex-direction: column;
}

.container_h1_form {
   width: 70rem;
   height: 30rem;
   background-color: rgb(45, 79, 133);
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.container_h1 {
   width: 54rem;
   height: 18rem;
   text-align: center;
}

.container_h1 h1 {
   font-size: 9rem;
}

.container_h1 span {
   width: 40rem;
   display: inline-block;
   color: #eee;
   font-family: var(--font-titles-1);
   font-size: 1.5rem;
}
