:root {
   --font-titles-1: "Roboto", sans-serif;
   --font-definitions-1: "Cardo", serif;
   --font-definitions-2: "Times New Roman", Times, serif;
   --font-title-app-1: "Cinzel", serif;
   --font-title-app-2: "Cormorant SC", serif;
   --font-title-app-3: "Tangerine", cursive;
}

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   font-size: 62.5%;
}

body {
   box-sizing: border-box;
   background-color: #eee;
   height: auto;
}
